
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
  header { 
            width: 7.5rem;
            margin: 0 auto;
			position: relative;
        }
		 header .shuru{
			 width: 90%;
			 overflow: hidden;
			 position: absolute;
			 bottom: 0.15rem;
			 left: 0.15rem;
			 display: flex;
			 justify-content: space-between;
		 }
		 header .shuru .f1{
			 flex: 0.1;
		 }
		 header .shuru .fom{
			 flex: 3;
			 overflow: hidden;
			 border-radius: 0.1rem;
			 display: flex;
			 background: rgba(255,255,255,.3);
		 }
		 header .shuru .fom input::-webkit-input-placeholder{
			 color: #FFFFFF;
		 }
		  header .shuru .fom input{
			  width: 100%;
			  height: 0.42rem;
			  font-size: 0.12rem;
			  background: rgba(255,255,255,.3);
			  color: #FFFFFF;
			  border: none;
			  padding: 0.08rem 0.1rem;
		  }
		  header .logo{
			  width: 2rem;
			  position: absolute;
			  top: .15rem;
			  left: .15rem;
		  }
		  header img {
			  width: 100%;
			  height: 100%;
		  }
.wrap {
	width: 7.5rem;
	margin: 0 auto;
	overflow: hidden;
}
.wrap img{
	width: 100%;
	height: 100%;
}
.teach{
	width: 6rem !important;
	display: flex;
	padding: 0.61rem 0.75rem;
}
.teach-r,
.teach-l{
	flex: 4;
	text-align: center;
}

.teach .teach-l img{
	width: 100%;
	height: 100%;
}
.swiper-button-next{
	background-image: url(../images/next.png);
	background-size: 100%;
}
.swiper-button-prev{
	background-image: url(../images/s.png);
	background-size: 100%;
}
.teach-r h2{
	width: auto;
	display:inline-block;
	padding: 0.15rem;
	color: #0b3d85;
	font-size: 0.28rem;
	border-bottom: 1px solid #0b3d85;
}
.teach-r p{
	font-size: 0.24rem;
	color: #1d71b0;
	border-top: 1px solid #1d71b0;
	padding-top: 0.05rem;
	margin-top: 0.1rem;
}
.teach-r span{
	font-size: 0.14rem;
	color: #333333;
	display: block;
	line-height: 1.5;
	margin-top: 0.2rem;
}
